.root {
    width: min-content;
    height: min-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 40px;
    border-radius: 32px;
    background-color: #242423;
  }
  .frame83 {
    height: min-content;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .frame82 {
    height: min-content;
    align-self: stretch;
    align-items: center;
    gap: 16px;
  }
  .arrow_back {
    width: 24px;
    height: 24px;
    overflow: visible;
  }
  .icon {
    width: 100%;
    height: 100%;
  }
  .backToDashboard {
    color: #868686;
    font-size: 20px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame79 {
    width: 1030px;
    height: min-content;
    align-items: center;
    gap: 28px;
  }
  .leaderboard {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  ._18Dec2023 {
    color: #fff;
    font-size: 24px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame80 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame67 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
  }
  .frame63 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
    box-shadow: inset -5px 0px 0px #333533;
  }
  .rank {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame64 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
    box-shadow: inset -5px 0px 0px #333533;
  }
  .name {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame65 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
    box-shadow: inset -5px 0px 0px #333533;
  }
  .time {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame66 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  .score {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame69 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 24px 0;
  }
  .frame68 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame632 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._1 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame642 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame652 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame662 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._100 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame692 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame633 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._12 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame643 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank2 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame653 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s2 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame663 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._1002 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame70 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame634 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._13 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame644 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank3 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame654 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s3 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame664 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._1003 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame71 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame635 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._14 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame645 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank4 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame655 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s4 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame665 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._1004 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame72 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame636 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._15 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame646 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank5 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame656 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s5 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame666 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._1005 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame73 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame637 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._16 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame647 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank6 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame657 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s6 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame667 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._1006 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame74 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame638 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._17 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame648 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank7 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame658 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s7 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame668 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._1007 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame75 {
    width: 1030px;
    height: min-content;
    align-items: flex-start;
    padding: 8px 0;
    box-shadow: inset 0px -1px 0px #333533;
  }
  .frame639 {
    width: 158px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  ._18 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame649 {
    width: 400px;
    height: min-content;
    justify-content: center;
    padding: 8px;
  }
  .vrishank8 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame659 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._345s8 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame669 {
    height: min-content;
    flex: 1;
    justify-content: center;
    padding: 8px;
  }
  ._1008 {
    color: #fff;
    font-size: 18px;
    font-family: Metropolis, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }